@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
	max-width: 100%;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: Roboto, sans-serif;
	color: #000;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.page {
	min-height: 100vh;
	position: relative;
	background: linear-gradient(to bottom, #33ccff 0%, #ffffff 58%);
}

.road {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1000%;
	height: 300px;
	background-color: #4e4a4b;
	animation: road 4s linear 0s infinite, road 2s linear 3s infinite, road-stop 3s linear 8s 1 forwards;
}

hr {
	border: none;
	border-top: 25px dashed #e4a307;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}

.car {
	z-index: 50;
	position: absolute;
	bottom: 140px;
	left: 30%;
	transform: translateX(-30%) scale(1.3);
	max-width: 610px;
	font-size: 0;
	animation: car-hide 8s linear 4s 1 forwards;
}

.car__back {
	width: 300px;
	height: 350px;
	background-color: #000;
	border-radius: 20px 20px 0 0;
	position: relative;
	display: inline-block;
}

.car__back::before {
	content: "";
	position: absolute;
	bottom: 85px;
	right: -35px;
	width: 35px;
	height: 100px;
	background-color: #000;
}

.car__back::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -10px;
	width: 10px;
	height: 230px;
	border-radius: 20px 0 0 20px;
	background-color: #000;
}

.car__title {
	position: absolute;
	bottom: 50px;
	left: 0;
	background-color: rgb(50, 50, 50);
	width: 300px;
	height: 200px;
}

.car__title::before {
	content: "police";
	color: rgb(136, 136, 136);
	text-transform: uppercase;
	font-size: 46px;
	letter-spacing: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
}

.car__title::after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 10px;
	background-color: rgb(237, 135, 0);
	width: 13px;
	height: 20px;
}

.car__back {
	margin: 0 35px 0 0;
}

.body-car {
	display: inline-block;
	width: 200px;
	height: 250px;
	background-color: #fff;
	border-radius: 20px 51px 0 0;
	position: relative;
	border: 2px solid black;
}

.body-car__header {
	position: absolute;
	top: 29px;
	right: -49px;
	width: 0;
	height: 0;
	border-bottom: 102px solid rgb(255, 255, 255);
	border-right: 54px solid transparent;
}

.body-car::before {
	content: "";
	position: absolute;
	right: -21.5px;
	top: 9px;
	width: 1.8px;
	height: 130px;
	background-color: #000;
	transform: rotate(-28deg);
	z-index: 1;
}

.body-car::after {
	content: "";
	position: absolute;
	left: -37px;
	bottom: 18px;
	width: 35px;
	height: 65px;
	background: linear-gradient(to bottom, #B0B0B0 0%, #B0B0B0 50%, #7F7F7F 100%);
}

.body-car__bottom {
	position: absolute;
	bottom: -2px;
	right: -52px;
	width: 52px;
	height: 118px;
	background-color: #fff;
	border-right: 2px solid #000;

}

.body-car__bottom::before {
	content: "";
	position: absolute;
	top: 0px;
	right: -2.5px;
	width: 1.5px;
	height: 100%;
	background-color: #000;
}

.body-car__bottom::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: -1px;
	width: 51px;
	height: 1px;
	background-color: #000;
}

.body-car__window {
	position: relative;
	left: 30px;
	top: 50px;
	width: 140px;
	height: 80px;
	background: rgb(50, 50, 50);
}

.body-car__window::before {
	content: "";
	position: absolute;
	border: 81px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 40px solid rgb(50, 50, 50);
	width: 0;
	height: 0;
	top: -1px;
	right: -39px;
}

.body-car__flasher {
	animation: pulsate 1s linear 3s infinite;
	width: 70px;
	height: 20px;
	background-color: rgb(219, 216, 211);
	border: 2px solid #000;
	position: absolute;
	border-radius: 3px;
	top: -22px;
	left: 50%;
	transform: translate(-50%, 0);
}

.body-car__flasher::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 33.333%;
	background-color: rgb(249, 2, 13);
	height: 18px;
	border-radius: 3px 0 0 3px;
}

.body-car__flasher::after {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	width: 33.333%;
	background-color: rgb(0, 3, 196);
	height: 18px;
	border-radius: 0 3px 3px 0;
}

.body-car__bottom::before {
	content: "";
	width: 15px;
	height: 50px;
	background-color: #000;
	top: 50%;
	transform: translateY(-50%);
	right: -15px;
	position: absolute;
	border-radius: 7px;
}

.body-car__door {
	width: 15px;
	height: 25px;
	background: linear-gradient(to right, #FFFFFF 0%, #CBC8CA 50%, #4E4E4E 100%);
	position: absolute;
	bottom: 50px;
	right: -25px;
	border-radius: 5px;
	border: 2px solid #000;
	z-index: 2;
}


.car__pipe {
	position: relative;
	top: -20px;
	left: -15px;
	width: 100%;
	height: 30px;
	border: 2px solid #000;
	background: linear-gradient(to bottom, #B0B0B0 0%, #B0B0B0 50%, #7F7F7F 100%);
	border-radius: 10px;
}

.car__wheels {
	position: relative;
	top: -100px;
}

.car__wheels::before {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0;
	width: 35px;
	height: 18px;
	border-radius: 0 0 5px 5px;
	background-color: #000;
}

.pipe__tank {
	position: absolute;
	bottom: -18px;
	left: 50%;
	transform: translateX(-50%);
	width: 210px;
	height: 18px;
	border-radius: 0 0 5px 5px;
	background-color: #000;
}

.car__wheels::after {
	content: "";
	position: absolute;
	bottom: -18px;
	right: 25px;
	width: 35px;
	height: 18px;
	border-radius: 0 0 5px 5px;
	background-color: #000;
}

.wheel-car {
	display: inline-block;
	position: relative;

}

.wheel-car_second {
	left: 35px;
}

.wheel-car_first {
	position: absolute;
	right: 65px;
	top: 0;
}

.wheel-car__whell {
	animation: wheel 4s linear 0s infinite, wheel 4s linear 3s infinite;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #181818;
	position: absolute;
	top: 15px;
	left: 50%;
	box-shadow: inset 6px 6px 0 #383737f8;
}

.wheel-car__whell::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	background-color: #e7e7e7;
	border-radius: 50%;
	border: 5px solid #000;
}

.wheel-car__whell::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	border-radius: 50%;
	height: 10px;
	background-color: #000;
	;
}

.wheel-car__wing {
	width: 150px;
	height: 80px;
	background-color: #000;
	border-radius: 50% 50% 43% 57% / 100% 100% 0% 0%;
}


@keyframes wheel {
	0% {
		transform: translate(-50%, 0) rotate(0deg);
	}

	100% {
		transform: translate(-50%, 0) rotate(360deg);
	}
}

@keyframes road {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-1000px, 0);
	}
}

@keyframes road-stop {

	0%,
	100% {
		transform: translate(0, 0);
	}
}

@keyframes pulsate {
	30% {
		box-shadow: -2px 5px 35px 5px rgba(249, 2, 14, 0.788);
	}
}

@keyframes car-hide {
	100% {
		transform: translate(500%, 0) scale(1.3);
	}
}